{% extends 'base.html' %}


{% block content %}

    {% for messge in get_flashed_messages() %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ messge }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% endfor %}



    {% if name %}
        <h1>helllo {{ name }}</h1>
    {% else %}
        <h1>whats ur name</h1>
        <br>
        <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.name() }}
        <br>
            {{ form.submit() }}
            </form>
{% endif %}
{% endblock %}