{% extends 'base.html' %}


{% block content %}

    {% for messge in get_flashed_messages() %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ messge }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% endfor %}



    {% if name %}
        <h1>Helllo {{ name}}</h1>
        <br>
        <img src="{{ url_for('static', filename='images/apple.png' ) }}" width="100">
     <br>
      <p id="demo">this is staff</p>
        <script src="{{ url_for('static', filename='js/myfile.js') }}"></script>


    {% else %}
        <h1>what's ur name </h1>
        <br>
        <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.name() }}
        <br>
            {{ form.submit() }}
            </form>
{% endif %}
{% endblock %}