{% extends 'base.html' %}


{% block content %}

    <br>

        <h1>you searched for ..</h1>
  <h3>{{ searched }}</h3>

{% for post in posts %}
    <a href="{{ url_for('post',id=post.id )}}" class="btn btn-secondary btn-sm" > {{ post.title }}</a>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <h2> {{ post.title }}</h2>
    <small> BY: {{ post.poster.username }}<br>
        {{ post.date_posted }}</small><br><br>
    {{ post.content }}<br><br>
    </div>
    {% endfor %}

{% endblock %}