{% extends 'base.html' %}


{% block content %}

    <br>

        <h3>You searched for Posts that contain : <strong>{{ searched }}</strong> </h3>
    <br>
    <br>

{% if posts %}
{% for post in posts %}
    <a href="{{ url_for('post',id=post.id )}}" class="btn btn-secondary btn-sm" > {{ post.title }}</a>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <h2> {{ post.title }}</h2>
    <small> BY: {{ post.poster.username }}<br>
        {{ post.date_posted }}</small><br><br>
    {{ post.content |safe }}<br><br>
    </div>
    {% endfor %}
{% else  %}
 <p>You searched for Posts that contain <strong>{{ searched|safe }}</strong> that is not found</p>

    {% endif %}
{% endblock %}